{% load staticfiles %}
<style>
a{
  font-size:12pt;
}
.ui.segment{
  margin-top:0;
}
#navtop_outer{
  margin:0;
}
</style>
<script src={% static "js/navtop.js" %}></script>
<link href={% static "css/navtop.css" %} rel="stylesheet">
<div class="ui inverted teal segment" id="navtop_outer">
  <div class="ui inverted teal stackable secondary menu" id="navtop">
    <h3 class="header item">OpenHouse 交通大學 企業校園徵才</h3>
    {% if user.is_authenticated and user.is_company %}
    <a class="item" href="/">
      首頁
    </a>
    <a class="{{nav_company_index}} item" href="{% url 'company_index' %}">
      廠商入口
    </a>
    <a class="{{nav_rdss}} item" href="{% url 'rdss_company_index' %}">
      研發替代役
    </a>
    <a class="item" id="navtop_rdss_btn" data-content="每年3~5月，敬請期待">
      校園徵才
    </a>
    <a class="item" href="{%url 'info' %}">
      公司資料
    </a>
    <a class="right item" href="{% url 'logout' %}">
      登出 {{request.user.username}}
    </a>

    {% else %}
    <a class="item" href="/">
      首頁
    </a>
    <div class="ui dropdown item" id="rdss_navtop_dropdown">
      研發替代役
      <i class="dropdown inverted icon"></i>
      <div class="menu">
        <a class="item" href="{% url 'rdss_index' %}">
          活動資訊
        </a>
        <a class="item" href="{% url 'rdss_jobs' %}">
          職缺列表
        </a>
        <a class="item" href="{% url 'seminar_public' %}">
          說明會
        </a>
        <a class="item" href="{% url 'jobfair_public' %}">
          就博會
        </a>
        <a class="item" href="{% url 'rdss_querypts' %}">
          查集點
        </a>
      </div>
    </div>
    <a class="item" id="navtop_rdss_btn" data-content="每年3~5月，敬請期待">
      校園徵才
    </a>
    <a class="item" href="https://ejob.nctu.edu.tw/">
      交大哈職網
    </a>

    {% if user.is_authenticated and user.is_staff %}
    <a class="item" href="/admin">
      工作人員後端
    </a>
    <a class="right item" href="{% url 'logout' %}">
      登出 {{request.user.username}}
    </a>
    {% else %}
    <a class="right item" href="{% url 'login' %}">
      廠商入口
    </a>
    {% endif %}

    {% endif %}
  </div>
</div>

