{% extends 'rdss_base.html' %}

{% block 'content' %}
<div class="ui segment">
	<h2 id="intro" class="ui dividing header">簡介</h2>
	<p>將舉辦為期近一個月的研發及產業訓儲替代役之公司說明會，讓徵才廠商對同學進行公司簡介，並針對所需的專業人才之能力背景方面多加著墨；同學亦可以在說明會中詢問公司相關問題;並舉行聯合就業博覽會及面談會，公司可直接於校內進行研發替代役之面試，方便公司作業。</p>
	<p>本次本校研替徵才Open House活動，希望傳達給交大學生源源不絕的創意研發能量，透過一系列平面宣傳品、官方網站、網路以及大眾傳媒之管道進行整合行銷傳播，使學生充分知悉活動相關訊息，也能提高參與廠商之名氣與能見度。
	</p>
	<h2 id="intro" class="ui dividing header">活動企畫書</h2>
	<p style="color:red">活動詳細內容及規範皆載於企畫書，請務必詳細閱讀</p>
	<a class="ui blue button" href={{plan_file.upload_file.url}} target="_blank">{{plan_file.title}}</a>

	<h2 id="register" class="ui dividing header">活動時間及地點</h2>
	<ol class="ui list">
		<li> 公司說明會日期：2016年9月27日(二) ~ 10月18日(二)
			<p>舉辦地點: 國立交通大學浩然圖書館國際會議廳、交映樓國際會議廳、資訊館國際會議廳、工程四館合勤講堂等</p>
		</li>
		<li>就業博覽會及面談會時間：2016年10月14日(五) 10:00 ~ 16:00
			<p>舉辦地點: 國立交通大學浩然圖書館國際會議廳與前廳</p>
		</li>
		<li>役政署役男制度說明會：2016年10月6日(四) 12:20 ~ 13:10
			<p>舉辦地點: 國立交通大學浩然圖書館國際會議廳</p>
		</li>
		<li>企業職場導師/職涯教練 一對一諮詢服務：2016年9月至12月
			<p>活動網頁依日期場次進行報名</p>
		</li>
	</ol>

	<h2 id="register" class="ui dividing header">活動對象</h2>
	<ol>
		<li>本校大學部、研究所應屆畢業學生，約2,000餘人。 </li>
		<li>新竹地區各大專院校研究所應屆畢業學生。</li>
	</ol>

	<h2 id="register" class="ui dividing header">參加方式及日程</h2>
	<ol>
		<li>報名時間: 2016 年 08 月 11 日(四) 10 時至 8 月 18 日(四) 16 時止</li>
		<li>公告時間: 2016 年 08 月 23 日(二)10 時公布報名錄取廠商於活動網站。</li>
		<li>評選機制: 彙整所有廠商資料後,主辦單位將依評選積分(詳見企畫書第六點)(Page 10)決定錄取及選位順序。</li>
		<li>選位時間: 8 月 25 日(四)開放錄取廠商依選位順序選位,詳細選位事宜將另行通知,並將結果公告於活動網站。</li>
		<li>選位方式: 依評選積分決定選位順序,至本活動網站選填時段。</li>

	</ol>

	<h2 id="register" class="ui dividing header">評選積分</h2>
	<ol>
		<li><strong>贊助效益(75%)</strong>: 廠商贊助本次徵才系列活動之總金額,包括贊助商品與場地費等。</li>
		<li><strong>企業職場導師(5%)</strong>: 邀請各領域資深主管蒞校擔任企業職場導師,為本校同學進行履歷寫作 指導、面試技巧及個人生涯發展規劃,幫助交大同學建立更多競爭優勢。</p>

		<li><strong>企業滿意度問卷(15%)</strong>: 可於左方填寫,為建立校友就業相關資料,以期瞭解業界對本校畢業生的評價,做為本校改善教
			學以及推展研究的重要參考依據。</li>

		<li><strong>其他(5%)</strong>: 此項評分為廠商歷年參展之互動紀錄,如有延遲繳費、中途退出活動、遲到並影響活動形象等狀況,將斟酌減分。</li>


	</ol>

	<h2 id="register" class="ui dividing header">廠商報名</h2>

	<p>本活動統一採網路報名的方式，請填寫報名資料(左方導覽列或下方按鈕)。</p><p style="color:red">報名時間為 {{configs.rdss_signup_start}} 到 {{configs.rdss_signup_end}}</p>
	<p style="color:red">活動詳細內容及規範皆載於企畫書，報名前請務必詳細閱讀</p>
	<a class="ui blue button" href={{plan_file.upload_file.url}} target="_blank">{{plan_file.title}}</a>
	<a class="ui teal button" href={%url 'rdss_signup'%}>填寫報名資料</a>

</div>
{% endblock %}
