{% extends 'admin/base_site.html' %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href={% static "node_modules/semantic-ui/dist/semantic.min.css" %} rel="stylesheet">
<link href={% static "css/rdss/collect_points.css" %} rel="stylesheet">
<script src={% static "node_modules/semantic-ui/dist/semantic.min.js" %}></script>
<script src={% static "js/collect_points.js" %}></script>
{% endblock %}

{% block content %}
    <div class="ui segment">
        <form class="ui form">
            <div class="ui field">
                <label>校徵場次</label>
                <select class="ui fluid dropdown">
                    {% for seminar in seminar_list %}
                         <option value="{{seminar.date|date:"m/d (D)"}}-{{seminar.session}}({{seminar.place}})-{{seminar.company}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ui field">
                <label>學生證卡號</label>
                <input name="card_num" maxlength=10 autofocus>
            </div>
        </form>
    </div>

{% endblock %}