{% extends 'admin/base_site.html' %}
{% load i18n admin_static %}
{% block extrastyle %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href={% static "node_modules/semantic-ui/dist/semantic.min.css" %} rel="stylesheet">
<script src={% static "node_modules/semantic-ui/dist/semantic.min.js" %}></script>
{% endblock %}

{% block content %}
    {% if ui_message %}
        <div class="ui {{ui_message.type}} message">{{ui_message.msg}}</div>
    {% endif %}
    <div class="ui segment">
        <form action="." class="ui form" method="POST">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <label>{{form.card_num.label}}</label>
                    {{form.card_num}}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>{{form.student_id.label}}</label>
                    {{form.student_id}}
                </div>
                <div class="field">
                    <label>{{form.phone.label}}</label>
                    {{form.phone}}
                </div>
            </div>
            <button class="ui red submit button" type="submit">註冊</button>
        </form>
    </div>
{% endblock %}