{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>匯出檔案</h2>

				<h3>研發替代役</h3>

        <p><a href="{% url 'rdss_export_all' %}">匯出全部資料</a></p>
        <p><a href="{% url 'rdss_export_ad' %}">匯出Logo和簡介(廣告用)</a></p>
        <p><a href="{% url 'rdss_export_activity_info' %}">匯出說明會/就博會資訊</a></p>
        <p><a href="/admin/rdss/companysurvey/export/">廠商滿意度問卷</a></p>
				<p><a href="/admin/rdss/company/export/">參加廠商列表</a></p>
				<p><a href="/admin/rdss/signup/export/">活動報名情況(含人資資訊)</a></p>

				<h3>校園徵才</h3>

				<h3>其它</h3>

        <h2>說明會集點系統</h2>
        <p><a href="{% url 'rdss_collect_points' %}">說明會集點系統</a></p>
        <p><a href="{% url 'rdss_reg_card' %}">學生證註冊</a></p>
        <p><a href="/static/data/apps/card_reader.zip">讀卡程式及驅動</a></p>

    </div>
</div>
{% endblock %}
