{% extends 'base.html'%}
{% load staticfiles %}

{% block 'body' %}
<link href={% static "css/rdss/sidebar.css" %} rel="stylesheet">
<div class="ui stackable grid">
	<div class="three wide column" style="margin-left:1em">
		<div class="ui vertical stackable menu" style="width:85%">
			{% if request.user.is_authenticated and request.user.is_company %}

			<a class="{{sidebar_ui.index}} item" href="{%url 'rdss_company_index' %}">
				活動首頁
			</a>
			<div class="item">
				<div class="header">活動報名相關</div>
				<div class="menu">
			<a class="{{sidebar_ui.status}} item big" href="{%url 'rdss_status' %}">
				報名狀況總覽
			</a>
			<a class="{{sidebar_ui.signup}} item big" href="{%url 'rdss_signup' %}">
				填寫報名資料
			</a>
			<a class="{{sidebar_ui.survey}} item big" href="{%url 'rdss_company_survey' %}">
				企業滿意度問卷
			</a>
			<a class="{{sidebar_ui.sponsor}} item big" href="{%url 'rdss_sponsor' %}">
				活動贊助
			</a>
			</div>
				</div>
			<a class="{{sidebar_ui.seminar_select}} item" href="{%url 'rdss_seminar_select' %}">
				說明會選位
			</a>
			<a class="{{sidebar_ui.seminar_info}} item" href="{%url 'rdss_seminar_info' %}">
				說明會資訊填寫
			</a>
			<a class="{{sidebar_ui.jobfair_select}} item" href="{%url 'rdss_jobfair_select' %}">
				就博會選位
			</a>
			<a class="{{sidebar_ui.jobfair_info}} item" href="{%url 'rdss_jobfair_info' %}">
				就博會資訊填寫
			</a>
			{% else %}
			<!-- public view --!>
     <a class="item" href="{% url 'rdss_index' %}">
		 活動資訊
		 </a>
     <a class="item" href="{% url 'rdss_jobs' %}">
     職缺列表
		 </a>
		 <a class="item" href="{% url 'seminar_public' %}">
		 說明會
		 </a>
		 <a class="item" href="{% url 'jobfair_public' %}">
		 就博會
		 </a>
     <a class="item" href="{% url 'rdss_querypts' %}">
     查集點
		 </a>
		 {% endif %}
		 </div>
		 </div>
		 <div class="twelve wide column">
		 {% block 'content' %}

		 {% endblock %}
		 </div>
		 </div>

		 {% endblock %}


