{% extends 'base.html'%}
{% load staticfiles %}

{% block 'body' %}
{% include 'common/navtop.html'%}
<div class="ui grid">
	<div class="three wide column" style="margin-left:1em">
		<div class="ui vertical menu" style="width:85%">
			<a class="active item" href="{%url 'rdss_index' %}">
					報名狀況總覽
			</a>
			<a class="item" href="{%url 'rdss_signup' %}">
					填寫/修改報名資料
			</a>
			<a class="item">
					活動贊助
			</a>
			<a class="item" href="{%url 'rdss_seminar_select' %}">
					說明會選位
			</a>
			<a class="item" href="{%url 'rdss_seminar_info' %}">
					說明會資訊填寫
			</a>
			<a class="item">
					就博會選位
			</a>
			<a class="item" href="{%url 'rdss_jobfair_info' %}">
					就博會資訊填寫
			</a>
		</div>
	</div>
	<div class="twelve wide column">
	{% block 'content' %}

	{% endblock %}
	</div>
</div>

{% endblock %}


