{% extends 'base.html' %}
{% load staticfiles %}
{% block 'custom_head' %}
    <script src={% static "js/recruit/signup.js" %}></script>

{% endblock %}
{% block 'body' %}
    <link href={% static "css/recruit/submenu.css" %} rel="stylesheet">
    <div class="ui inverted teal secondary main menu">
        <a href="#" class="item">活動首頁</a>
        <a href="{% url 'signup' %}" class="item">填寫報名資料</a>
        <a href="#" class="item">選位與資訊填寫</a>

    </div>
    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">

            {% block 'content' %}
            {% endblock %}
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}
