{% extends 'base.html' %}
{% load staticfiles %}
{% block 'custom_head' %}
    <script src={% static "js/recruit/signup.js" %}></script>

{% endblock %}
{% block 'body' %}
    <link href={% static "css/recruit/submenu.css" %} rel="stylesheet">
    <div class="ui inverted blue secondary main menu">
      <a href="{% url 'recruit_company_index' %}" class="item">活動首頁</a>
        <div class="ui dropdown item" id="recruit_signup_menu">
            活動報名
            <i class="dropdown inverted icon"></i>
            <div class="menu">
                <a href="{% url 'recruit_signup' %}" class="item">填寫報名資料</a>
            </div>
        </div>
        <a href="{% url 'recruit_survey' %}" class="item">填寫企業問卷</a>


    </div>
    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">

            {% block 'content' %}
            {% endblock %}
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}
