{% extends 'base.html'%}
{% load staticfiles %}

{% block 'body' %}
<link href={% static "css/rdss/sidebar.css" %} rel="stylesheet">
<div class="ui stackable grid">
	<div class="three wide column" style="margin-left:1em">
		<div class="ui vertical stackable menu" style="width:85%">
			<a class="item" href="{%url 'public' %}">
				活動資訊
			</a>
			<a class="item" href="{%url 'list_jobs' %}">
				職缺列表
			</a>
			<a class="item" href="{%url 'seminar' %}">
				說明會
			</a>
			<a class="item" href="{%url 'jobfair' %}">
				就博會
			</a>
			<a class="item" href="{%url 'query_points' %}">
				查集點
			</a>
		 </div>
		 </div>
		 <div class="twelve wide column">
		 {% block 'content' %}

		 {% endblock %}
		 </div>
		 </div>

		 {% endblock %}


