{% extends 'company_base.html' %}

{% block 'content' %}
<style>
.ui.form{
	margin:auto;
	margin-top:3em;
	width:30%;
}
</style>
    <form class="ui form" action="{% url 'forget_password' %}" method="post">
				<h1 class="ui dividing header">取回 OpenHouse 密碼</h1>
        <div class="field">
            <label>帳號/公司統一編號</label>
            {{ form.user }}
            {{ form.user.errors }}
        </div>
        {% csrf_token %}
        <button class="ui blue button">寄送重設密碼確認信</button>
    </form>
{% endblock %}
