{% extends 'rdss_base.html' %}

{% block 'content' %}
    <h1>忘記密碼</h1>
    <form class="ui form" action="{% url 'forget_password' %}" method="post">
        <div class="four wide field">
            <label>帳號/公司統一編號</label>
            {{ form.user }}
            {{ form.user.errors }}
        </div>
        <div class="four wide field">
            <label>Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        {% csrf_token %}
        <button class="ui blue button">寄送重設密碼確認信</button>
    </form>
{% endblock %}
