{% extends "rdss_base.html" %}

{% block 'content' %}
    <h1>重新設定您的密碼</h1>
    <form class="ui form" action="." method="post">
        <div class="four wide field">
            <label>{{form.new_password1.label}}</label>
            {{ form.new_password1 }}
        </div>
        <div class="four wide field">
            <label>{{form.new_password2.label}}</label>
            {{ form.new_password2 }}
        </div>
        {% csrf_token %}
        <button class="ui blue button">重設密碼</button>
    </form>
{% endblock %}
