{% extends 'admin/base_site.html' %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href={% static "node_modules/semantic-ui/dist/semantic.min.css" %} rel="stylesheet">
<link href={% static "css/rdss/collect_points.css" %} rel="stylesheet">
<script src={% static "node_modules/semantic-ui/dist/semantic.min.js" %}></script>
<script src={% static "js/collect_points.js" %}></script>
{% endblock %}

{% block content %}
<h1 class="ui dividing header" id="title">OpenHouse 說明會集點</h1>
<div class="ui segment">
  <div class="ui two column middle aligned relaxed stackable grid">
    <div class="column">
      <form class="ui form" method="POST" id="collect_form">
        {% csrf_token %}
        <input type="hidden" name="action" value="query"/>
        <div class="field">
          <label>場次</label>
          <select class="ui dropdown" name="seminar_id">
            {% for seminar in seminar_list %}
            <option value={{seminar.id}}>
            {{seminar.date|date:"m/d (D)"}}-{{seminar.session}}({{seminar.place}})-{{seminar.company}}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label>學生證卡號</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input name="idcard_no" maxlength=10 autofocus>
          </div>
        </div>
        <button class="ui blue submit button" type="submit">集點</button>
        <div class="ui red button" id="stu_reg">註冊學生證</div>
      </form>
    </div>
    <div class="ui vertical divider">
    </div>
    <div class="center aligned column">
      {% if msg %}
      <div class="ui {{msg.type}} message">
        {{msg.content}}
      </div>
      {% endif %}
      <h1>卡號: {{student_obj.idcard_no}}</h1>
      <h1>學號: {{student_obj.student_id | default:"未註冊"}}</h1>
      <h1>目前集點: {{student_obj.num_attend}} 場</h1>
    </div>
  </div>
</div>

<div class="ui modal register">
<div class="ui segment">
  <h1 class="header">
    註冊學生證資料
  </h1 >
  <form class="ui form" method="POST" action="{% url 'rdss_collect_points' %}">
    {% csrf_token %}
    <input type="hidden" name="action" value="register"/>
    <div class="two fields">
      <div class="field">
        {{ stu_form.idcard_no.errors }}
        {{ stu_form.idcard_no.label_tag }} {{ stu_form.idcard_no }}
        <p class="help">{{ stu_form.idcard_no.help_text|safe }}</p>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        {{ stu_form.student_id.errors }}
        {{ stu_form.student_id.label_tag }} {{ stu_form.student_id }}
        <p class="help">{{ stu_form.student_id.help_text|safe }}</p>
      </div>
      <div class="field">
        {{ stu_form.phone.errors }}
        {{ stu_form.phone.label_tag }} {{ stu_form.phone }}
        <p class="help">{{ stu_form.phone.help_text|safe }}</p>
      </div>
    </div>
    <button class="ui red submit button" type="submit">註冊</button>
  </form>
</div>
</div>

{% endblock %}

