{% extends 'recruit_base.html' %}
{% block 'content' %}
    <form method="post" class="ui form" action=".">
        {% csrf_token %}
        <div class="field">
            <label>{{form.sign_name.label}}</label>
            {{form.sign_name}}
            <p>建議為公司簡稱</p>
        </div>
        <div class="fields">
            <div class="four wide field">
                <label>{{form.contact_person.label}}</lable>
                {{form.contact_person}}
            </div>
            <div class="four wide field">
                <label>{{form.contact_mobile.label}}</lable>
                {{form.contact_mobile}}
            </div>
            <div class="eight wide field">
                <label>{{form.contact_email.label}}</lable>
                {{form.contact_email}}
            </div>
        </div>
        <div class="fields">
            <div class="four wide field">
                <label>{{form.general_lunch_box.label}}</lable>
                {{form.general_lunch_box}}
                <p>每攤位至多提供5份餐點</p>
            </div>
            <div class="four wide field">
                <label>{{form.veget_lunch_box.label}}</lable>
                {{form.veget_lunch_box}}
            </div>
            <div class="four wide field">
                <lable>{{form.packing_tickets.label}}</label>
                {{form.packing_tickets}}
            </div>
        </div>
        <div class="field">
            <label>{{form.send_obj.label}}</label>
            {{form.send_obj}}
            <p>提早寄送展示物品與及DM刊物，請註記寄送品項與數量，並協調物流公司於活動前兩日送達交
                大就輔組(勿過早或過晚)。大型、過重(無法以小型電梯運載者)及貴重物品請勿寄送。
            </p>
        </div>
        
        <div class="field">
            <label>{{form.power_req.label}}</label>
            {{form.power_req}}
            <p>攤位用電建議500瓦以內，請填寫預計使用電器(如筆電、音響等)，如有模擬機、爆米花機、可樂機等耗電設備，請務必填寫並須由企業自行負擔小型發電機費用</p>
        </div>
        <div class="field">
            <label>{{form.ps.label}}</label>
            {{form.ps}}
        </div>
            
        <button class="ui teal button">送出</button>
    </form>
    <a href="{% url 'recruit_export_seminar_info' %}">delta</a>
{% endblock %}
