{% extends 'recruit_base.html' %}
{% load staticfiles %}

{% block 'content' %}
{% if signup_info_exist %}
<div class="ui green message">
  報名已完成，您也可以修改報名資料，再次送出。
</div>
{% endif %}
<form class="ui form" action="." method="post">


  {% csrf_token %}
  <div class="ui segment" id="seminar">
    <h1>企業說明會</h1>
    <table class="ui celled table">
      <tr>
        <td>活動日期</td>
        <td>{{recruit_configs.seminar_start_date|date:"Y年m月d日(D)" }} ~ {{recruit_configs.seminar_end_date|date:"Y年m月d日(D)" }} 共60場次，額滿為止</td>

      </tr>
      <tr>
        <td>活動時間</td>
        <td>
          <ul>
            <li>中午場次 12:10~13:00</li>
            <li>其餘場次 11:10、13:20、16:30、17:40、18:50 (每場 50 分鐘)</li>
        </td>

      </tr>
      <tr>
        <td>活動地點</td>
        <td>本校國際會議廳 (浩然圖書館、交映樓、工程四館合勤講堂、資訊館)</td>
      </tr>
      <tr>
        <td>活動內容</td>
        <td>透過說明會提供完善的場地與設備，徵才企業可以近距離傳達公司訊息，解說公司內部企業文化、經營理念、薪資福利制度、徵才職缺以及需求等，為學生進一步認識企業之橋樑。</td>
      </tr>
      <tr>
        <td>提供設備</td>
        <td>
          <ol class="ui list">
            <li>可容納100至200人之國際會議廳</li>
            <li>單槍投影機、投影布幕、麥克風、筆記型電腦、簡報滑鼠等。※如有特殊需求請務必事先告知。</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>提供服務</td>
        <td>
          <ol class="ui list">
            <li> 每場說明會由工作人員協助會場地布置、資料發放、會場拍照 等事宜,並協助場內活動進行及突發狀況處理。 </li>
            <li>提供企業人資至多 2 份餐點與飲水、2 張免費校內停車證。 </li>
            <li> 提供 50 份餐點給參與同學(費用已含在報名活動費中,企業可加碼付費提供餐點數量)。 </li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>注意事項</td>
        <td>
          <h5 class="ui header">場次選位方式：</h5>
          <ol class="ui list">
            <li>公司說明會選位順序將由評選積分決定，詳細內容請參照參加方式第八點(Page 11)之說明。</li>
            <li>若遇評選積分相同之情形，說明會場次選位將同時開放給積分相同之廠商，採取先搶先贏制。</li>
            <li style="color:red">選位時間：11月30日(四)10:00至16:00。</li>
          </ol>
          <h5 class="ui header">舉辦與報到方式：</h5>
          <ol class="ui list">
            <li>廠商以播放影片、書面介紹或其他方式做公司簡介，針對所需專業人才，提供必要之說明，並傳達企業專業理念與形象。</li>
            <li>廠商可提供自行設計活動內容並提供紀念文宣品以吸引參加人潮，例如填寫履歷抽獎、參加獎、QA獎等；抽獎券由企業自行設計與製作。</li>
            <li>請於活動前20分鐘到場，可提供資料給報到桌進行發放、亦可於現場擺設旗幟與易拉展架(如需旗桿、旗座、海報架請事先告知)，會議廳內牆壁桌椅不可使用膠帶、圖釘等固定展示物品。</li>
            <li>各場次換場時間短，請廠商把握時間，勿耽誤及佔用其他廠商時間，並請結束後盡量避免當場面談與個別QA，以免造成場面混亂。</li>
            <li>對於說明會之內容、設備等，若有其他特殊需求或問題請與我們聯絡。</li>
          </ol>
        </td>
      </tr>

    </table>

    <div class="ui segment">

      <h3 class="ui header">選取欲報名說明會時間</h3>
      <p>活動費用：12:10場：{{recruit_configs.session_2_fee}}，其餘場 {{recruit_configs.session_4_fee}} 元</p>
      {{ form.seminar}}

    </div>

  </div>

  <div class="ui segment">
    <h1>就業博覽會</h1>
    <table class="ui celled table">
      <tr>
        <td style="width:8em">活動日期</td>
        <td>{{recruit_configs.jobfair_date}}</td>
      </tr>
      <tr>
        <td style="width:8em">活動時間</td>
        <td>{{recruit_configs.jobfair_start}} ~ {{recruit_configs.jobfair_end}}</td>
      </tr>
      <tr>
        <td>活動地點</td>
        <td>本校浩然圖書館前廣場與浩然往綜合一館步道</td>
      </tr>
      <tr>
        <td>活動內容</td>
        <td>
          邀請各界企業到學校設點,展示公司的產品或業務內容,加深同
          學對各產業現況的了解,也提供同學未來就業的參考依據,並有
          多項宣傳和配套活動吸引同學參與。
        </td>

      </tr>
      <tr>
        <td>提供設備</td>
        <td>
          <ol class="ui list">
            <li>戶外帳棚攤位配備:提供阿里山帳篷1頂、帳篷圍布、公司名稱看板1組、長桌2桌5椅(含紅桌巾1條)、3孔110V電源插座2個(請自備延長線)、無線網路等。
            </li>
            <li>
              攤位大小:寬 300、深 300、可用高度 200cm~210cm。
            </li>
            <li>門眉(攤位招牌):296*22cm (珍珠板輸出)、長桌:寬 180X 深 60X 高 75cm、 摺疊椅為黑色/方形
            </li>
            <li>
              每攤位用電 500 瓦,如超量用電將由施工廠商另行收費。
            </li>

            <p style="color:blue">
            ※實際大小與配備仍視攤位招標得標廠商提供為準。
            。</p>
          </ol>
        </td>
      </tr>
      <tr>
        <td>搭配活動</td>
        <td>
          <ol class="ui list">
            <li>攤位集點:設計「逛展場集點蓋章之抽獎遊戲」,鼓勵學生至各領域攤位探索,請企業協助遊戲進行;並鼓勵企業搭配遊戲設計蓋章的機制,例如填寫履歷或問卷、掃 QR code、攤位打卡等對應蓋章,提高招募效益。
            </li>
            <li>開幕儀式:當日 10 點邀請來賓與本校長官致詞、剪綵,並有開幕舞蹈、音樂等表演,歡迎企業共襄盛舉。 </li>
            <li>定時抽獎:逛展場找工作之攤位集點遊戲,與中午、閉幕前均有大型抽獎時間,於日後行前通知將再提供更多活動資訊。
            </li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>提供服務</td>
        <td>
          <ol class="ui list">
            <li>本校工作人員協助報到及處理隨機突發狀況。</li>
            <li>提供企業免費校內停車證，中午提供各廠商便當與飲水，每攤位至多提供5份；素食餐點請事先告知。</li>
            <li>
              提早寄送展示物品與及 DM 刊物,請於「選位」後填寫就博會資料時,註記寄送品項與預計送達時間,並至少於活動前兩日送達交大就輔組。大型、過重(無法以小型電梯運載者)及貴重物品請勿寄送。
            </li>
            <li>
              託運填單協助(無法指定隔天到貨):可於當日 15:30-16:30 至服務台辦理托運,請自備包裝紙箱/封箱膠帶,許多託運業者已明定只收紙箱託運,”易拉展”與其餘包裝恕無法辦理,託運費用採貨到付款;如無法配合請企業自行洽談合作業者。

            </li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>注意事項</td>
        <td>
          <ol class="ui list">
            <li>就博會攤位位置之選位順序將由評選積分決定,詳細內容請參照八、參加方式第六點(Page 11)之說明。</li>
            <li>若遇評選積分相同之情形，說明會場次選位將同時開放給積分相同之廠商，採取先搶先贏制。</li>
            <li>選位時間:12 月 14 日(四)至 12 月 15 日(五)。</li>

          </ol>
        </td>
      </tr>
      <tr>
        <td>備註</td>
        <td>
          <ol class="ui list">
            <li>本次展場為露天戶外攤位,貴重器材與物品請企業自行保管,本校不負保管之責。</li>


            <li>場地布置時間：活動當日8:30後開放企業到場布置，貴重器材與物品請企業自行保管，本校不負保管之責。</li>
            <li>當天請於8:30~10:00期間向服務台辦理報到</li>

          </ol>
        </td>
      </tr>

    </table>
    <div class="ui segment">
      <h3 class="ui header">報名就博會</h3>
      <p>活動費用：攤位每單位 {{recruit_configs.jobfair_booth_fee}} 元，額滿為止。</p>
      <div class="ui labeled input">
        <div class="ui teal label">
          就博會攤位數量
        </div>
        {{form.jobfair}}
      </div>
      <!--
      <div class="ui yellow message">
        每家廠商至多報名4個攤位，超過4攤以4攤計
      </div>
      -->
    </div>
  </div>
  <div class="ui segment">
    <h1>企業職場導師</h1>
    <div class="ui celled table">
      <table>
        <tr>
          <td style="width:8em">活動日期</td>
          <td>2018 年 3 月~ 5 月</td>
        </tr>
        <tr>
          <td>活動內容</td>
          <td>本活動內容擬邀請企業人資和各領域資深主管蒞校擔任企業職場老師,以講座呈現或一對一近距離指導方式,為本校同學進行履歷寫作、面試技巧、個人生涯發展規劃及職涯諮詢指導,讓交大同學在起跑點上更具備潛在優勢。</td>
        </tr>
        <tr>
          <td>活動說明</td>
          <td>
            企業可於報名系統上勾選擔任「企業職場導師」意願,擔任企業 職場導師可為企業人資(具人資相關證照與學歷佳)或是各部門技 術及行政主管,希望能夠讓交大學生模擬面談真實情況並更了解 企業的各機構運作;<strong>主辦單位保留最終邀請企業職涯導師名單之 權利</strong>;業師每次駐點至少 3 小時,諮詢同學以 1 人或相同領域多 人進行。
          </td>
        </tr>
        <tr>
          <td>活動對象</td>
          <td>
            交大全體學生,以應屆畢業生優先。
          </td>

        </tr>
        <tr>
          <td>回饋方案</td>
          <td>企業參與本次活動可增加選位積分5分</td>
        </tr>
      </table>
    </div>
    <div class="ui segment">
      <h3>願意提供</h3>
      <div class="ui checked checkbox">
        {{form.career_tutor}}
        <label>{{form.career_tutor.label}}</label>
      </div>
    </div>
  </div>
  <div class="ui segment">
      <h1>企業參訪</h1>
      <div class="ui celled table">
          <table>

                <tr>
                    <td>活動日期</td>
                    <td>2018年3月～5月</td>
                </tr>
                <tr>
                    <td>活動時間</td>
                    <td>星期三或星期五下午 13:30 ~ 17:00</td>
                </tr>
                <tr>
                    <td>活動地點</td>
                    <td>
                        受訪企業與機構
                    </td>
                </tr>
                <tr>
                    <td>活動目的</td>
                    <td>藉由參觀企業來提升交大同學對企業的實際瞭解,對同學籌劃未來就業藍圖有所助益。</td>
                </tr>
                <tr>
                    <td>活動辦法</td>
                    <td>企業可於報名系統上勾選企業參訪意願,參訪內容可由企業自行規劃,以介紹公司與產業概況或以公司內部參觀為主,希望能夠讓交大學生多了解企業實際運行狀況;主辦單位保留最終邀請參訪活動之權利。</td>
                </tr>
                <tr>
                    <td>活動對象</td>
                    <td>以應屆畢業碩博士研究生與大四學生優先錄取,在學學生為篩選 第二順位,企業參訪人數至少可接受 35 人以上之同學進行參訪。</td>
                </tr>

          </table>
      </div>
      <div class="ui segment">
        <h3>願意提供</h3>
        <div class="ui checked checkbox">
            {{form.company_visit}}
            <label>{{form.company_visit.label}}</label>
        </div>
      </div>
  </div>
  <!--
  <div class="ui segment">
      <h1>就業力講座</h1>
      <div class="ui celled table">
          <table>

                <tr>
                    <td>活動日期</td>
                    <td>2017年3月~5月</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>在徵才活動期間穿插名人演講及職涯分享講座,邀請不同領域的講師為整場活動注入更多活水並增加講座多元性，藉此提升同學於就學獎學金、企業實習、海外工作、創業就業等主題上,能更清楚其範疇及預先準備。</td>
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>企業可於報名系統上勾選「就業力講座」意願,表達企業願意擔任名人演講、職涯分享講座講師,並提供擬定主講者;講座內容不可做公司宣傳與進行人才招募;主辦單位保留最終邀請講座主辦之權利。</td>
                </tr>

          </table>
          <div class="ui segment">
            <h3>願意提供</h3>
            <div class="ui checked checkbox">
                {{form.lecture}}
                <label>{{form.lecture.label}}</label>
            </div>
        </div>

      </div>
  </div>
  -->
  <button class="ui teal button" type="submit">送出資料</button>


</form>



{% endblock %}
