{% extends 'recruit_base.html' %}
{% load staticfiles %}
{% block 'content' %}
    {% if old_sponsor_items %}
        <div class="ui green message">
            已填寫完畢，您也可以修改，再次送出
        </div>
    {% endif %}
    <h2>OpenHouse研發替代役-贊助品</h2>

    <form method="post" action="." class="ui form">
        {% csrf_token %}
        {% for sponsor_item in sponsor_items %}

                <table class="ui celled structured table">
                    <tbody>
                        <tr>
                            <td colspan="1">贊助品</td>
                            <td colspan="5">{{sponsor_item.name}}</td>
                            <td colspan="6" rowspan="5">
                                <img class="ui small img" src="{{sponsor_item.pic.url}}">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">說明</td>
                            <td colspan="5">
                                <p>{{sponsor_item.description}}</p>
                                <p></p>
                                <p>
                                    規格：{{sponsor_item.spec}}
                                </p>
                                <p>
                                    備註：{{sponsor_item.ps}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>{{sponsor_item.name}}</td>
                            <td>
                                <div class="ui checked checkbox">
                                    {% if sponsor_item.name in old_sponsor_items %}
                                        <input type="checkbox" name="{{sponsor_item.name}}" checked="">
                                    {% else %}
                                        <input type="checkbox" name="{{sponsor_item.name}}">
                                    {% endif %}
                                    <label>贊助</label>
                                </div>
                            </td>
                            <td class="center aligned">金額</td>
                            <td class="center aligned">{{ sponsor_item.price }}</td>
                            <td class="center aligned">數量限制</td>
                            <td class="center aligned">{{ sponsor_item.number_limit }}</td>
                        </tr>
                    </tbody>

                </table>

        {% endfor %}
        <button class="ui teal button" type="submit">送出</button>
    </form>
{% endblock %}
