{% extends 'base.html' %}
{% load staticfiles %}
{% block 'custom_head'%}
    <script src={% static "js/vote/vote.js" %}></script>
    <link href={% static "css/vote/vote.css" %} rel="stylesheet">
{% endblock %}
{% block 'body' %}
<div id="vote_seg">
{% if error_msg %}
    <div class="ui negative message">
        <div class="header">
            {{error_msg}}
        </div>
    </div>
{% else %}
    <div class="ui two column grid">
        {% for participant in participants %}
            <div class="center aligned column">
                <div class="ui embed" data-source="youtube" data-id="{{participant.video}}">
                </div>
                <p>{{participant.theme}}</p>
                <p>{{participant.name}}</p>
                <p>{{participant.school}}/{{participant.department}}</p>
                <p>{{participant.intro}}</p>
                <p>{{participant.get_votes}}</p>
                <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="participant" value="{{participant.id}}">
                <button class="ui disabled button" type="submit">投票</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>
{% endblock %}

