#mentor_seg{
  width:90%;
  margin:auto;
  margin-top:2em;
}

#success_info{
  width:60%;
  margin:auto;
  margin-top:2em;
}



@media only screen and (max-device-width: 480px) {
  #mentor_seg{
    width:100%;
    margin-top:5em;
    margin:auto;
  }
#success_info{
  width:100%;
  margin:auto;
  margin-top:2em;
}
}
