.form{
  width:40%;
  margin:auto;
  margin-top:2em;
}

#agreement{
  width:80%;
  margin:auto;
  margin-top:2em;
}


@media only screen and (max-device-width: 480px) {
  .form{
    width:100%;
    margin:auto;
  }
  #agreement{
    width:100%;
    margin:auto;
    margin-top:2em;
  }
}
