{% extends 'general_base.html' %}
{% load staticfiles %}

{% block 'custom_head' %}
<title>Open House 企業職場導師</title>
<link href={% static "css/mentor/mentor_index.css" %} rel="stylesheet">
<script src={% static "js/mentor/mentor_index.js" %}></script>

{% endblock %}

{% block 'body' %}
<div class="ui one column centered grid" id="success_info">
  <div class="column">
    <div class="ui header">報名成功</div>
    <div class="ui segment">
      <table class="ui celled striped table">
        <tbody>
          <td>場次</td>
          <td>
            {{form.instance.mentor.company}}-{{form.instance.mentor.name}}/
            {{form.instance.mentor.date}} {{form.instance.mentor.start_time}}
          </td>
          {% for item in form %}
          <tr>
            <td>{{item.label}}</td>
            <td>{{item.value}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
