{% extends 'recruit_public.html' %}
{% load staticfiles %}
{% block 'content' %}
<title>校園徵才 - 就博會</title>
<h1 class="ui header">Open House企業校園徵才就業博覽會</h1>
<!--
<h2 class="ui dividing header">時間與地點</h2>
<ul class="ui list">
    <li>2017年3月11日(六) 10:00 ~ 16:00 【9時開幕儀式與福袋發送】</li>
    <li>國立交通大學 浩然圖書館前廣場、中正堂大廳及前廣場、工程館康莊迎曦步道</li>
</ul>
<h2 class="ui dividing header">流程</h2>
<ul class="ui list">
    <li>09:00 開幕</li>
    <li>10:00-16:00 逛攤位集點遊戲、抽獎活動</li>
    <li>16:00 閉幕大抽獎</li>

</ul>
<h2 class="ui dividing header">抽獎活動</h2>
<p>近期推出</p>
-->
{%for jobfair_info in recruit_jobfair_info%}
     {{jobfair_info.content|safe}}
{%endfor%}
<h2 class="ui dividing header">就博會攤位圖</h2>
{% for img in jobfair_imgs %}
    <img class="ui image" src="{{img.upload_file.url}}">
{% endfor %}
<div class="ui six column padded grid">
    {% for slot in jobfair_slots %}
		{% if slot.company %}
            <div class="column" style="padding:0.5rem" >
                <div class='ui blue center aligned segment'>
                    <p>攤位{{slot.serial_no}}: {{ slot.company}}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
