{% extends 'base.html' %}

{% block 'body' %}
<title>校園徵才 - 職缺列表</title>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>企業名</th>
                    <th>類別</th>
                    <th>簡介</th>
                    <th>職缺</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companys %}
                    <tr> 
                        <!--<td> <img class="ui small image" src="{{company.logo.url}}"></td> -->
                        <td> <img  height="100" width="100" src="{{company.logo.url}}"></td>
                        <td> {{company.name}}</td> 
                        <td> {{company.category}} </td>
                        <td> {{company.brief}} </td>
                        <td> {{company.recruit_info}}</td> 
                    </tr>    
                {% endfor %} 
            </tbody>
        </table>    
{% endblock %}
