{% extends 'base.html' %}

{% block 'body' %}
<title>校園徵才 - 職缺列表</title>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>企業名</th>
                    <th>類別</th>
                    <th>簡介</th>
                    <th>職缺</th>
                    <th>聯絡方式</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companys %}
                    <tr> 
                        <!--<td> <img class="ui small image" src="{{company.logo.url}}"></td> -->
                        <td width="10%"> <img class="ui small image" src="{{company.logo.url}}"></td>
                        <td> {{company.name}}</td> 
                        <td> {{company.category}} </td>
                        <td width="20%"> {{company.brief}} </td>
                        <td width="20%"> {{company.recruit_info}}</td> 
                        <td>
                            <!--<br>聯絡人 </br>-->
                            <br>公司地址: {{company.address}}</br>
                            <br>公司電話: {{company.phone}}</br>
                            <br>公司網址: <a href="{{company.website}}" target="_blank">{{company.website}}</a></br>
                        </td>
                    </tr>    
                {% endfor %} 
            </tbody>
        </table>    
{% endblock %}
