{% extends 'recruit_public.html' %}
{% block 'content' %}
<title>校園徵才 - 活動資訊</title>
<h1 class="ui header">校園徵才 活動資訊</h1>
<div class="ui segment">
<p>交大就輔組及Open House企業徵才小組與各企業間建立人才媒合的機制，為本校學、碩、博應屆畢業學生提供充足的產業資訊，及協助各公司企業於本校尋得優秀人才，以服務企業、幫助同學的理念，期達到適才適用、產學雙贏之效果。</p>
<p>本次校園徵才活動為期四週，舉辦企業說明會、就業博覽會、企業參訪、職涯教練與企業導師等，協助同學更清楚各領域產業資訊與公司福利職缺等訊息。</p>
<h2 class="ui dividing header">活動時間及地點</h2>
<ol class="ui list">
    <li>
        <p>公司說明會日期：<span style="color:blue">2017年3月2日(四) ~ 3月24日(五)</span></br>
        舉辦地點: 國立交通大學浩然圖書館國際會議廳、交映樓國際會議廳、工程四館合勤講堂等</p>
    </li>
    <li>
        <p>就業博覽會時間：<span style="color:blue">2017年3月11日(六) 10:00 ~ 16:00 【9時開幕儀式及福袋發送】</span></br>
        舉辦地點: 國立交通大學浩然圖書館前廣場、中正堂大廳及前廣場、工程館間康莊迎曦步道</p>
    </li>
    <li>
        <p>企業參訪：<span style="color:blue">2017年3月至4月期間</span><br>
        參觀企業：長榮航空、曉數碼、廣達電腦、Dell、公視、安永諮詢、群聯、聯電等
        *學生可於報名網頁依場次進行報名，每場次限定40人，須完成線上報名與繳納保證金(活動當日報到時退還保證金100元)</p>
    </li>
    <li>
        <p>企業導師/職涯教練 一對一諮詢服務：<span style="color:blue">2017年4月至6月</span></br>
        學生可於報名網頁依日期場次進行報名，國際教練聯盟之教練與企業主管與專業職涯管理師協助提供履歷健診、面談技巧與職涯潛能開發等諮詢服務</p>
    </li>
</ol>
</div>
{% endblock %}
