{% extends 'rdss_base.html' %}
{% load staticfiles %}

{% block 'custom_head' %}
<title>就博會選位-OpenHouse</title>
<script src={% static "js/rdss/Controller.js" %}></script>
{% endblock %}

{% block 'content' %}
<h2 class="ui dividing header">選位注意事項</h2>
<div class="ui message">
	<div class="ui bulleted list">
		<div class="item">
			於貴公司選位時間開始後，至所有廠商選位截止前，皆可自由更動位置。唯改變位置前，<strong>需先放棄已選的位置，才能重新選擇。</strong>
		</div>
		<div class="item">
			由於部分時段有多廠商同時選位之情況，若出現多廠商選取同場次的情況，該時段將分發給最早送出之廠商。
		</div>
		<div class="item" style="color:red">
			從表格選擇場次後，請務必按下最下方「送出」按鈕，並於送出後看到該場次顯示貴公司名稱才算選位成功。
		</div>
		<div class="item">
			如有任何問題，請立刻撥打活動專線：(03)5131365 或 (03)5712121分機31365、50653
		</div>
		<div class="item">
			緊急聯絡手機：0912-005250(就輔組吳文鈴)、0916-842822(廠聯組長鄭禕寧)
		</div>
	</div>
</div>
<div class="ui list">
	<div class="item">
		<i class="users icon"></i>
		<div class="content">
			貴公司選位開始時間為：{{jobfair_select_time}}
		</div>
	</div>
	<div class="item">
		<i class="marker icon"></i>
		<div class="content">
			貴公司攤位數量為：{{my_signup.jobfair}}
		</div>
	</div>
</div>
<h2 class="ui dividing header">就博會攤位圖</h2>

<div ng-app="oh" ng-controller="jobfair_select as ctrl">
	<h2 class="ui dividing header">就博會攤位</h2>

	<div class="ui six column padded grid">
		<div ng-repeat="slot in ctrl.slot" class="column" style="padding:0.5rem" >

			<div ng-class="{'ui red segment': slot.company, 'ui blue segment':!slot.company}">
				<!-- if slot is not available --!>
				<p ng-if="slot.company">攤位{$ slot.serial_no $}：{$ slot.company $}</p>
				<!-- if slot is available --!>
				<div ng-if="!slot.company" class="ui radio checkbox" >
					<input ng-if="!ctrl.owns_slot" type="radio" ng-model="ctrl.selected" value="{$ slot.serial_no $}">
					<input ng-if="ctrl.owns_slot" type="radio" ng-model="ctrl.selected" value="{$ slot.serial_no $}" disabled="">
					<label >攤位{$ slot.serial_no $}：空</label>
				</div>
			</div>

		</div>
	</div>
	 <!--buttons --!>
	<div style="margin-top:1em">
	 <div ng-if="!ctrl.owns_slot" ng-click="ctrl.submit()" class="ui blue button">送出選位</div>
	 <div ng-if="ctrl.owns_slot" ng-click="ctrl.cancel()" class="ui red button">刪除選位</div>
	</div>
</div>
{% endblock %}
