{% extends 'rdss_base.html' %}

{% block 'content' %}
<div class="ui segment">
	<h2 id="intro" class="ui dividing header">簡介</h2>

	<p>
	交通大學辦理研發替代役徵才活動已邁入第八年，今年再度邀請產學研各界共襄盛舉，參與本校「2015國立交通大學研發及產業訓儲替代役徵才系列活動-役想天開 Military up」。
	<br><br>
	本校在學術與產業表現卓著，首先於2014世界大學排名表現傑出：2014 QS、2014 THE、2015 QS – Asia、2015 THE – Asia等評比，均為全台灣排行前二或前三名；而再觀歷年專利總件數1,131件，居全台首位；Science期刊論文發表統計，本校於2011至2014年「第一或通訊作者」之績效表現居台灣第一、Nature系列期刊之論文發表指數平均表現，名列全台第二，足見本校教學實力與學生研發能力堅強。
	歷年來本校學生在研發替代役之媒合率，常居於全台大專校院排名首位；於103年度，碩、博畢業生錄取635名(104年數據尚未取得)，紀錄屢創新高！&nbsp;足證本校學生不僅具有高度研發創新能量，亦積極投入研發替代役行列。
	<br><br>
	今年內政部役政署公佈之「105年度研發及產業替代役員額申請」，本校產業導向領域如半導體、生醫、光電、機械、資通訊、電子電機、材料、運輸管理、綠能、數位內容、資訊服務、技術服務等，畢業校友在業界服務多年，十分受業界重用與青睞；另本校商管金融類、法律及會計類、企業管理與公共行政、建築與設計類等文法商學科專長人才亦眾，在篤學務實之校風薰陶之下，於業界機構服務也有非常好的評價。期盼各界能廣泛提供多元研發替代役員額，招募本校優秀學子投入服務。&nbsp;<a href="http://www.nctu.edu.tw/index.php/about/edu">交通大學「系所一覽表」</a>
	<br><br>
	今年，交通大學Open House企業校園徵才小組將再次發揮靈活的創意及思維，建構一流企業與本校優秀人才溝通交流平台，協助企業尋得本校優秀人才，同時讓本校學生得到充足的產業資訊，順利申請進入合適的企業，以廿八年承先啟後的校園徵才經驗傳承，配合舉辦公司說明會、就業博覽會、講座等徵才活動，促成本年度研發及產業訓儲替代役徵才之最大效益。
	<br><br>
	活動進行過程中如有任何疑問或建議指教，歡迎隨時與我們聯繫，感謝各界歷年來對交通大學企業校園徵才的慷慨挹注與熱情參與，我們將以最高熱誠與嚴謹態度繼續努力及服務。

	<h2 id="register" class="ui dividing header">廠商報名</h2>

	<p>本活動統一採網路報名的方式，請填寫報名資料(左方導覽列或下方按鈕)。</p><p style="color:red">報名時間為 {{configs.signup_start}} 到 {{configs.signup_end}}</p>
	<div class="ui teal button">填寫/修改報名資料</div>

	<h2 id="forum" class="ui dividing header">說明會</h2>
	<p>透過說明會提供完善的場地與設備，徵才企業可以近距離傳達公司訊息，解說公司內部企業文化、經營理念、薪資福利制度、徵才職缺以及需求等，也提供學生進一步認識企業的橋樑。</p>

	<h3 id="forumslot">說明會選位</h3>
	<p>本活動將於 8/25(二) 公告報名與選位名單，並於 8/27(四) 進行說明會和就博會選位。詳情屆時將以信件通知和官網公告，請各報名廠商依照選位順序，於選位時間內至選位系統選擇場次。</p>
	<ul>
		<li>廠商請先從右上角登入頁面，輸入統編與密碼後即可進入系統。</li>
		<li>於貴公司選位時間開始後，至所有廠商選位截止前，皆可自由更動位置。唯改變位置前，<strong>需先放棄已選的位置，才能重新選擇。</strong></li>
		<li>由於場次數量有限，若中午或晚上場次已滿，系統將自動開放另一時段供貴公司選擇。</li>
		<li>本系統為即時選位，故如出現多家廠商同時選位之情況，該時段將分配給最早送出之廠商。</li>
		<li>其餘請參見選位系統上方之說明，如有問題請撥打活動專線。</li>
	</ul>

	<h2 id="interview" class="ui dividing header">就業博覽會</h2>
	<p>邀請 企業廠商到學校設點，展示公司的產品或職務內容，提供研替同學未來就業的參考依據。徵才企業廠商亦可進行一對一面試方式，詢問學生興趣經歷等相關問題，藉此篩選出能符合公司文化及經營理念的替代役人選。</p>
	<ul>
		<li><p>地點：交通大學光復校區浩然圖書館B1國際會議廳</p></li>
		<li><p>時間：{{configs.jobfair_date|date:"Y年m月d日 (D)"}} {{configs.jobfair_start}}~{{configs.jobfair_end}}

	</ul>

</div>
{% endblock %}
