{% extends 'rdss_base.html' %}
{% load staticfiles %}

{% block 'custom_head' %}
<title>研發替代役 - 說明會</title>
<link href={% static "css/rdss/rdss_public.css" %} rel="stylesheet">

{% endblock %}
{% block 'content' %}
<h1 class="ui header">企業徵才說明會</h2>
<h2 class="ui dividing header">活動時間</h2>
  <ol class="ui list">

    <li>日期：<span style="color:blue">2016年9月27日(二) ~ 10月18日(二)</span>
      <p>舉辦地點: 國立交通大學浩然圖書館國際會議廳、交映樓國際會議廳、資訊館國際會議廳、工程四館合勤講堂等</p>
    </li>
    <li>時間： 午間場次12：20~13：10， 晚間場次17：40~18：30、18：40~19：30</p>
    </li>
  </ol>
<h2 class="ui dividing header">集點規則</h2>
<p>正在規畫中</p>
<h2 class="ui dividing header">集點獎項</h2>
<p>正在規畫中</p>
<h2 class="ui dividing header">場次時間表</h2>
	<table class="ui celled striped table" style="text-align:center">
		{% for week in dates_in_week %}
		<thead>
			<tr>
				<th>時間</th>
				{% for day in week %}
				<th>{{day.date|date:"m/d (D)" }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>{{configs.session_1_start}}~{{configs.session_1_end}}</td>
				{% for day in week %}
        <td style="color:{{day.noon.place_color}}">
          {{day.noon.company}}
				</td>
				{% endfor %}
			</tr>

			<tr>
				<td>{{configs.session_2_start}}~{{configs.session_2_end}}</td>
				{% for day in week %}
        <td style="color:{{day.night1.place_color}}">
          {{day.night1.company}}
				</td>
				{% endfor %}
			</tr>

			<tr>
				<td>{{configs.session_3_start}}~{{configs.session_3_end}}</td>
				{% for day in week %}
        <td style="color:{{day.night2.place_color}}">
          {{day.night2.company}}
				</td>
				{% endfor %}
			</tr>

		</tbody>
		{% endfor %}
	</table>
{% endblock %}
