{% extends 'rdss_base.html' %}

{% block 'content' %}

<div class="ui header">
	交通大學OpenHouse 研發替代役 活動報名流程
</div>

<div class="ui ordered steps">
	<div class="{{step_ui.0}} step">
		<div class="content">
			<div class="title">線上報名研替活動</div>
			<div class="description">報名時間至{{configs.rdss_signup_end}}截止</div>
		</div>
	</div>
	<div class="{{step_ui.1}} step">
		<div class="content">
			<div class="title">線上選時間、位置</div>
			<div class="description">請按照您的選位時間線上選位</div>
		</div>
	</div>
	<div class="{{step_ui.2}} step">
		<div class="content">
			<div class="title">填寫活動相關資料</div>
			<div class="description">選定位置後，填妥說明會/就博會資料</div>
		</div>
	</div>
</div>

<div class="ui header">
	{{request.user.shortname}} 報名狀況總覽
</div>

{%if not signup_data %}

<div class="ui warning icon message">
	<i class="warning icon"></i>
	<div class="content">
		<div class="header">
			貴公司尚未報名本年度「研發替代役」徵才活動
		</div>
		<p><a href="{% url 'rdss_signup'%}">點此前往活動報名頁面</a>，活動將於{{configs.rdss_signup_end}}截止報名</p>
	</div>
</div>
{%endif%}

<div class="ui two column grid">
	<div class="column">
		<table class="ui selectable celled striped table">
			<thead>
				<tr>
					<th>項目</th>
					<th>狀態</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>說明會選位時間</td>
					<td>{{slot_info.seminar_select_time}}</td>
				</tr>
				<tr>
					<td>就博會選位時間</td>
					<td>{{slot_info.jobfair_select_time}}</td>
				</tr>
				<tr>
					<td>說明會場次</td>
					<td>{{slot_info.seminar_slot}}</td>
				</tr>
				<tr>
					<td>就博會攤位</td>
					<td>{{slot_info.jobfair_slot}}</td>
				</tr>
				<tr>
					<td>活動贊助</td>
					<td><i class="large red remove icon"></i></td>
				</tr>
				<tr>
					<td>說明會資訊</td>
					<td><i class="large red remove icon"></i></td>
				</tr>
				<tr>
					<td>就博會資訊</td>
					<td><i class="large red remove icon"></i></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="column">
		<table class="ui selectable celled striped table">
			<thead>
				<tr>
					<th>項目</th>
					<th>狀態</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>說明會場次</td>
					<td>
						{{ signup_data.get_seminar_display}}
					</td>
				</tr>
				<tr>
					<td>就博會攤位數量</td>
					<td>{{ signup_data.jobfair }}</td>
				</tr>
				<tr>
					<td>提供 企業職場導師</td>
					<td>
						{% if signup_data.career_tutor %}
						<i class="large green checkmark icon"></i>
						{% else %}
						<i class="large red remove icon"></i>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>提供 企業參訪</td>
					<td>
						{% if signup_data.visit %}
						<i class="large green checkmark icon"></i>
						{% else %}
						<i class="large red remove icon"></i>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>提供 就業力講座</td>
					<td>
						{% if signup_data.lecture %}
						<i class="large green checkmark icon"></i>
						{% else %}
						<i class="large red remove icon"></i>
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>


{% endblock %}
