{% extends 'rdss_base.html' %}

{% block 'content' %}
<title>研發替代役-職缺列表</title>
<h1 class="ui dividing header" id="title">研發替代役 職缺資訊</h1>
<div class="ui segment">
  <table class="ui stripped celled table">
    <thead>
      <tr><th>Logo</th>
        <th>企業名</th>
        <th>類別</th>
        <th>簡介</th>
        <th>職缺</th>
      </tr></thead>
      <tbody>
        {% for company in company_list %}
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="{{company.logo.url}}" class="ui medium image">
            </h4></td>
            <td>
              {{company.name}}
            </td>
            <td>
              {{company.category}}
            </td>
            <td>
              {{company.brief}}
            </td>
            <td>
              {{company.recruit_info}}
            </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}

